@model List<CartVM>

<span class="cart-count">@Model.Count</span>
<div class="triangle"></div>
<ul>

    @foreach (CartVM cart in Model)
    {
        <li>
            <div class="card-item">
                <div class="card-box">
                    <div>
                        <span class="card-name">
                            @cart.Title
                        </span>
                        <div class="card-bottom">
                            <span class="card-quantity">@cart.Count X </span>
                            @if(cart.DiscountedPrice > 0)
                            {
                                <span class="card-price">$@cart.DiscountedPrice</span>
                            }
                            else
                            {
                                <span class="card-price">$@cart.Price</span>
                            }
                        </div>
                    </div>
                    <div class="card-thumbnail">
                        <a class="close-btn" asp-controller="cart" asp-action="removeCart" asp-route-colorID="@cart.ColorID" asp-route-sizeID="@cart.SizeID" asp-route-id="@cart.ProductID">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                        <img src="~/assets/images/products/@cart.Image" alt="Cart Product">
                    </div>
                </div>
            </div>
        </li>
    }
    <hr />
    @if (Model.Count() > 0)
    {
        <div class="cart-price">
            <label>Subtotal:</label>
            <span class="price">
                @{
                    double totalPrice = 0;

                    foreach (var item in Model)
                    {
                        if (item.DiscountedPrice == 0)
                        {
                            totalPrice += item.Price * item.Count;
                        }
                        else if (item.Price != 0 && item.DiscountedPrice != 0)
                        {
                            totalPrice += item.DiscountedPrice * item.Count;
                        }
                    }
                }
                $@totalPrice.ToString("F2")
            </span>
        </div>

        <div class="cart-wrapper">
            <a asp-controller="cart" asp-action="index" class="btn-cart">View Cart</a>
            <a asp-controller="checkout" asp-action="index" class="btn-checkout">Checkout</a>
        </div>
    }
</ul>