@model Product
@{
    ViewData["Title"] = "Update";
    SelectList selectListItems = new SelectList(ViewBag.Brands, nameof(Brand.ID), nameof(Brand.Name));
    SelectList selectListItems2 = new SelectList(ViewBag.Categories, nameof(Category.ID), nameof(Category.Name));
}

<script src="~/admin/ckeditor5-build-classic/ckeditor.js"></script>
<div class="content">
    <div class="main product-index">
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="form-label" asp-for="Name">Name</label>
                    <input class="form-control" asp-for="Name" placeholder="Name...">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                @foreach (ProductDescription description in Model.ProductDescriptions)
                {
                    <div class="form-group">
                        <label class="form-label" asp-for="@description.Text">Description</label>
                        <textarea  rows="40" cols="70" class="form-control" name="ProductDescription[]" id="inputCKdesc" asp-for="@description.Text">
                        </textarea>
                        <span asp-validation-for="@description.Text" class="text text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <label class="form-label" asp-for="ProductSpecifications[0].Model">Model</label>
                    <input class="form-control" asp-for="ProductSpecifications[0].Model" placeholder="Model">
                    <span class="text-danger" asp-validation-for="ProductSpecifications[0].Model"></span>
                </div>
                <div class="form-group">
                    <label class="form-label" asp-for="ProductSpecifications[0].Guarantee">Guarantee</label>
                    <input class="form-control" asp-for="ProductSpecifications[0].Guarantee" placeholder="Guarantee">
                    <span class="text-danger" asp-validation-for="ProductSpecifications[0].Guarantee"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MainFile" class="mb-2">Main Image</label>
                    <input class="form-control mb-3" asp-for="MainFile" placeholder="Main Image...">
                    <span class="text-danger" asp-validation-for="MainFile"></span>
                    <div style="width: 12.33%">
                        <img src="~/assets/images/products/@Model.HoverImage" class="img-fluid" alt="Alternate Text" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="HoverFile" class="mb-2">Hover Image</label>
                    <input class="form-control mb-3" asp-for="HoverFile" placeholder="Main Image...">
                    <span class="text-danger" asp-validation-for="HoverFile"></span>
                    <div style="width: 12.33%">
                        <img src="~/assets/images/products/@Model.HoverImage" class="img-fluid" alt="Alternate Text" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Files" class="form-label">Image List</label>
                    <input asp-for="Files" class="form-control" multiple placeholder="Image List...">

                    <div class="d-flex gap-2 productImages">
                        @foreach (ProductImage productImage in Model.ProductImages)
                        {
                            <div style="width: 12.33%">
                                <img src="~/assets/images/products/@productImage.Image" class="img-fluid" alt="Alternate Text" />
                            </div>
                        }
                    </div>

                    <span class="text-danger" asp-validation-for="Files"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BrandID">Select Brand</label>
                    <select  asp-for="BrandID" class="form-select" asp-items=@selectListItems aria-label="Default select example">
                    </select>
                    <span class="text-danger" asp-validation-for="BrandID"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryID">Select Category</label>
                    <select  asp-for="CategoryID" class="form-select" asp-items=@selectListItems2 aria-label="Default select example">
                    </select>
                    <span class="text-danger" asp-validation-for="CategoryID"></span>
                </div>

                <div class="accordion-single js-acc-single">
                    <div class="accordion-single-item js-acc-item is-open">
                        <h3 class="accordion-single-title js-acc-single-trigger">
                            <label class="main-label">
                                Select Size
                            </label>
                        </h3>
                        <div class="accordion-single-content single-content" style="max-height: 100%;">
                            @if (Model.ProductSizes != null)
                            {
                                @for (int i = 0; i < Model.ProductSizes.Count(); i++)
                                {
                                    <div class="spec-base row justify-content-center">
                                        <div class="select-main d-flex gap-3 col-lg-12">
                                            <div class="form-group col-lg-4">
                                                <label asp-for="SizeIDs">Sizes</label>
                                                <select  name="SizeIDs" class="form-select" asp-items="new SelectList(ViewBag.Sizes,nameof(Size.ID),nameof(Size.Name), Model.ProductSizes[i].Size?.ID)" aria-label="Default select example">
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label class="mb-2">Count</label>
                                                <input class="form-control" name="SizeCounts[]" asp-for="@Model.ProductSizes[i].Count" placeholder="Enter Count" />
                                                <span class="text-danger" asp-validation-for="SizeCounts"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="accordion-single js-acc-single">
                    <div class="accordion-single-item js-acc-item is-open">
                        <h3 class="accordion-single-title js-acc-single-trigger">
                            <label class="main-label">
                                Select Color
                            </label>
                        </h3>
                        <div class="accordion-single-content single-content-color" style="max-height: 100%;">
                            @if (Model.ProductSizes != null)
                            {
                                @for (int i = 0; i < Model.ProductSizes.Count(); i++)
                                {
                                    <div class="spec-base row justify-content-center">
                                        <div class="select-main d-flex gap-3 col-lg-12">
                                            <div class="form-group col-lg-4">
                                                <label asp-for="ColorIDs">Colors</label>
                                                <select  name="ColorIDs" class="form-select" asp-items="new SelectList(ViewBag.Colors,nameof(Color.ID),nameof(Color.Name), Model.ProductColors[i].Color?.ID)" aria-label="Default select example">
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label class="mb-2">Count</label>
                                                <input class="form-control" name="Counts[]" asp-for="@Model.ProductColors[i].Count" placeholder="Count...">
                                                <span class="text-danger" asp-validation-for="Counts"></span>
                                            </div>
                                        </div>
                                        <div class="select-main d-flex gap-3 col-lg-12">
                                            <div class="form-group col-lg-4">
                                                <label class="mb-2">Price</label>
                                                <input class="form-control" name="Prices[]" asp-for="@Model.ProductColors[i].Price" placeholder="Price...">
                                                <span class="text-danger" asp-validation-for="Prices"></span>
                                            </div>
                                            <div class="form-group col-lg-4">
                                                <label class="mb-2">Discounted Price</label>
                                                <input class="form-control" asp-for="@Model.ProductColors[i].DiscountedPrice" placeholder="Discounted Price...">
                                                <span class="text-danger" asp-validation-for="DiscountedPrices"></span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <a asp-area="admin" asp-controller="product" asp-action="index" class="btn btn-primary">Back to menu</a>
            </form>
        </div>
    </div>
</div>


<script>

    ClassicEditor
        .create(document.querySelector('#inputCKdesc'), {
            mediaEmbed: {
                previewsInData: true
            },
            // extraPlugins: [MyCustomUploadAdapterPlugin],
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(err => {
            console.error(err.stack);
        });

</script>
